body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #f1e9e9;
}

.bg {
  background-image: url("images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  opacity: 1;
}

.topcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding-top: 20px;
  box-sizing: border-box;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.container {
  display: flex;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: #fff;
  align-items: center;
  justify-content: center;
}

.container img {
  width: 22px;
  height: 22px;
}

.search-bar {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 30px;
  padding: 0 5px 0 20px;
  width: 350px;
  height: 50px;
}

.search-bar input {
  border: none;
  outline: none;
  padding: 10px;
  width: 100%;
  font-size: 16px;
}

.programmes {
  background: #fff;
  width: 92%;
  margin: 0 auto 40px;
  padding: 30px 0;
  border-radius: 15px;
  text-align: center;
  width: 1200px;
  height: 555px;
  opacity: 1;
  border-radius: 15px;
}

.programmes h1 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #2b0617;
}

.banner {
  background: #fce4ec;
  color: #fc2fb9;
  padding: 12px 0;
  margin-bottom: 30px;
  width: 100%;
  font-size: 16px;
}

.cards {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 30px;
}

.card {
  background: #fff;
  width: 250px;
  height: 332px;
  border-radius: 5px;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
}

.card h3 {
  background-color: #ffeaf5;
  margin: 0;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  font-size: 18px;
  color: #000;
  border-bottom: 1px solid #f1d9e4;
}

.card img {
  width: 100%;
  height: 110px;
  object-fit: cover;
  margin: 0;
  border-radius: 0;
}

.card p {
  font-size: 13px;
  color: #777;
  margin: 15px 20px;
  line-height: 1.5;
  text-align: center;
}

.card button {
  background: #c24083;
  color: #fff;
  border: none;
  padding: 10px 25px;
  font-size: 14px;
  border-radius: 20px;
  cursor: pointer;
  margin: auto auto 20px;
  display: block;
}

.footer {
  width: 100%;
  padding: 15px 40px;
  background: #4a0d29;
  color: #f1d9e4;
  font-size: 13px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
